<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pub.broker.msgbroker.operation.mapper.OpChannelOptionMapper">

  <resultMap id="opChannelOptionMap" type="pub.broker.msgbroker.operation.api.entity.OpChannelOptionEntity">
        <id property="id" column="id"/>
        <id property="channelId" column="channel_id"/>
        <id property="option" column="option"/>
        <id property="value" column="value"/>
  </resultMap>
</mapper>