<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pub.broker.msgbroker.operation.mapper.OpMessageMapper">

  <resultMap id="opMessageMap" type="pub.broker.msgbroker.operation.api.entity.OpMessageEntity">
        <id property="id" column="id"/>
        <id property="messageId" column="message_id"/>
        <id property="accessKey" column="access_key"/>
        <id property="templateCode" column="template_code"/>
        <id property="to" column="to"/>
        <id property="params" column="params"/>
        <id property="title" column="title"/>
        <id property="content" column="content"/>
        <id property="extra" column="extra"/>
        <id property="remark" column="remark"/>
        <id property="createTime" column="create_time"/>
        <id property="updateTime" column="update_time"/>
  </resultMap>
</mapper>