<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pub.broker.msgbroker.operation.mapper.OpMessageSmsMapper">

  <resultMap id="opMessageSmsMap" type="pub.broker.msgbroker.operation.api.entity.OpMessageSmsEntity">
        <id property="id" column="id"/>
        <id property="messageId" column="message_id"/>
        <id property="templateCode" column="template_code"/>
        <id property="smsCode" column="sms_code"/>
        <id property="signName" column="sign_name"/>
        <id property="receivers" column="receivers"/>
        <id property="params" column="params"/>
        <id property="content" column="content"/>
        <id property="state" column="state"/>
        <id property="createTime" column="create_time"/>
        <id property="updateTime" column="update_time"/>
  </resultMap>
</mapper>