<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pub.broker.msgbroker.operation.mapper.OpMessageServerchanMapper">

  <resultMap id="opMessageServerchanMap" type="pub.broker.msgbroker.operation.api.entity.OpMessageServerchanEntity">
        <id property="id" column="id"/>
        <id property="messageId" column="message_id"/>
        <id property="templateCode" column="template_code"/>
        <id property="sendKey" column="send_key"/>
        <id property="title" column="title"/>
        <id property="desp" column="desp"/>
        <id property="shortContent" column="short_content"/>
        <id property="noip" column="noip"/>
        <id property="channel" column="channel"/>
        <id property="openId" column="open_id"/>
        <id property="state" column="state"/>
        <id property="createTime" column="create_time"/>
        <id property="updateTime" column="update_time"/>
  </resultMap>
</mapper>